input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

.react-datepicker {
    font-size: 13px !important;
    padding: auto;
}

.react-datepicker__day-names, .react-datepicker__week {
    white-space: nowrap;
    margin-top: 8px; /*달력 세로 길이 조정 */
}

 /* 월 표시되는 폰트 사이즈 */
.react-datepicker__current-month {
    font-size: 14px !important;
    margin-bottom: 20px;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-color: 2px #000;
    outline: 2px #000;
    /* background-color: #ffffff; */
}

.react-datepicker__header {
    padding-top: 20px !important;
}

 /* 다음달 넘어가는 화살표 css */
.react-datepicker__navigation {
    top: 28px !important;
}


.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    margin: 0px !important;
    font-size: 14px;  /* 달력 숫자 폰트 사이즈 */
    width: 34px;  /* 달력 사이즈 (비율로 조정 됨) */
    /* padding: 5px */
}

/* 0rem */

/* .saturday {
    color: rgb(0, 0, 255) !important;
} */

/* .sunday {
    color: rgb(255, 0, 0) !important;
} */

/* .react-datepicker__day--disabled {
    color: #cccccc !important;
} */