/* Daypicker CSS입니다 */
/* --rdp-accent-color: 예약배경 */
/* --rdp-cell-size : 전체 셀 사이즈 */

/* --rdp-background-color: 1개 선택시 background */
/* --rdp-outline: 1개 선택시 테두리 */

* {
    --rdp-cell-size: 40px;
    --rdp-accent-color: rgba(0, 0, 0, 0.75);
    --rdp-background-color: #e7edff;
    /* Switch to dark colors for dark themes */
    --rdp-accent-color-dark: #3003e1;
    --rdp-background-color-dark: #180270;
    /* Outline border for focused elements */
    --rdp-outline: 2px solid var(--rdp-accent-color);
    /* Outline border for focused and selected elements */
    --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
}

.dayPicker_container {
    margin-left: 20px;
}

.dayPicker_container__div {
    padding: 15px 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

/* 오늘날짜 */
/* .rdp-day_today:not(.rdp-day_outside) {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
} */

.rdp-day {
    border-radius: 100%
}

/* 메인화면 캘린더*/
.dayPicker_container__divMain {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 12px;
    top: 50px;

}

.rdp-months {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px
}